form {
    font-size: 1.2rem;
    text-align: center;
}
form label{
    display: block;
    width: 50%;
    margin: 0 auto;
}
input,
textarea, input:focus,
textarea:focus{
    background-color: var( --trigo-dorado);

    width: 100%;
    padding: 1rem;
    color: var(--black);
    border: none;


    box-shadow: none;
    cursor: pointer;
    margin: 1rem 0 2rem;
}
textarea{
    /* para quitar la opcion de hacer mas grande 
    el area del texto */
    resize: none;
}
form button{
    background-color: var(--rojo-tomate);

    color: var(--blanco);
    margin: 3rem;
    border: none;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease;

}
form button:hover{
    background-color: var(--verde-campo);

}
#social-media img{
    background-color: var(--blanco);
    border-radius: 10rem;
    transition: all ease .3s;
    margin: 1rem;

    width: 40px;
}
#social-media a{
    text-decoration: none;
}
.contacto h3{
    text-align: center;
}

.contacto div{
    text-align: center;
    margin: 1rem;   
}
