header {
    background-color: var(--marron-panadero);
    padding: 8rem 0 3rem;
    position: relative;
    overflow: hidden;

    color: white;

    text-align: center;
}

header img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width:100% ;
    min-height:100% ;
    opacity: .2;
}

header h1{
    opacity: .9;
}
header p{
    opacity: .9;
}