#Pro-Destacados h2{
    text-align: center;
}
#Pro-Destacados >div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* espacio entre elementos */
    grid-gap: 2rem;
    margin: 1rem;
    text-align: center;

}
@media (max-width: 768px){
    #Pro-Destacados >div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
}
#Pro-Destacados img{


    border-radius: 1rem;
    max-width: 15rem;
    cursor: context-menu;


}

#Pro-Destacados>div >div{
    align-items: center;
    position: relative;

}
#Pro-Destacados span{
    background-color: var(--verde-campo);
    color: var(--black);

    width: 120px;

    text-align: center;
    padding: 0.5rem 0;
    border-radius: .5rem;
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 25%;
    transform: translate(-60px,10px);
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
    pointer-events: none;
}

#Pro-Destacados>div>div:hover span{
    opacity: 1;
    transform: translate(50%,10%);

}
#Pro-Destacados span:after{
    border-color: var(--verde-campo) transparent transparent transparent;

    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;


}