:root {
    --negro: #000;
    --casi-negro: #1e1e1e;
    --gris: #888888;
    --blanco: #FFFFFF;
    --crema-mantequilla: #FFF5E1;
    --trigo-dorado: #F5DEB3;
    --marron-panadero: #A67C52;
    --rojo-tomate: #E74C3C;
    --naranja-casi-pastel: #FFA05B;
    --amarillo-mostaza: #F2C032;
    --verde-campo: #7C9F35;
    --velde: #ACC57A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--crema-mantequilla);
    color: var(--casi-negro);
    
}

.cta-button {
    display: inline-block;
    background-color: var(--rojo-tomate); 
    color: var(--crema-mantequilla); 
    padding: 10px 20px;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 8px;
}
