#porque{
    margin: 2rem;
    margin-top: 4rem;
}
#argumentos{
    color: black;
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem;
    background-color: var(--barra);

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: .5rem;
    align-items: center;
}
#argumentos p{
    line-height: 3;
}
#argumentos>div{
    position: relative;
    left: 15%;
}
/* #image{
    position: relative;
    top: 15%;
    margin-left: 20%;
} */
@media (max-width: 768px){
    #argumentos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 1rem;
    }
    #argumentos>div{
        position:static;
        left: 15%;
    }

}